// Mixins Here
.wrapping() {
    display: flex;
    flex-wrap: wrap;
}
.centered() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.area(@width;@height) {
    width: @width;
    height: @height;
}
.btn-mixin(@background; @fontsize; @color;) {
    background:@background;
    font-size: @fontsize;
    color:@color;
   
}
