// Navigation code here

  nav {
    display: flex; 
    justify-content: space-between;
    height: 60px;
    margin: 0 auto;
  } 
  h1 {
    display: flex;
    justify-content: center;
  }

  nav a {
    font-family: "Arial";
    font-weight: bold;
    font-size: 16px;
    color: black;
  }


  .btn {
    .centered();
    background: @btn-bg-color;  
    color:@sea-shell;
    width: 17rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 5%;
    font-size: 2.2rem;

    &:hover {
        background: @sea-shell;
        color: @btn-bg-color;
        cursor: pointer;
    }
    @media(max-width: 500px) {
        width: 34rem;

    }
}