// Navigation code here

  nav {
    display: flex; 
    justify-content: space-between;
    .area(75%, 50px);
    margin: 0 auto;
  } 
  h1 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  nav a {
    font-family: "Arial";
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
    color:@river-bend;

    &:hover {
        background:@river-bend;
        color:@wild-sand;
        cursor: grabbing;
    }
  }


  .btn {
    .centered();
    .area(17rem, 4rem);
    .btn-mixin(@btn-bg-color, 2.2rem, @wild-sand);
    border:1px solid black;
    border-radius: 5%;
    
    &:hover {
        background: @wild-sand;
        color: @btn-bg-color;
        border: 4px solid @ebony-clay;
        cursor: grabbing;
    }
    @media @phone {
        .area(34rem; 5rem)

    }
}