// Navigation code hereheader {
  header {
      display: flex; 
      justify-content: center;
      margin: 0 auto;

      nav{
          display: flex;
          justify-content: center;
      }
  } 


  .btn {
    background: @btn-bg-color;  
    width: 5rem;
    height: 3rem;
    border: 1px solid black;
}